<div class="fixed inset-0 w-screen h-screen z-10 overflow-y-auto p-4 sm:p-6 md:p-12">
    <div class="flex flex-col mx-auto max-w-[640px] transform overflow-hidden border border-gray-200 dark:border-white/10 bg-background-light dark:bg-background-dark shadow-search rounded-search"
        id="headlessui-dialog-panel-_r_1e_" data-headlessui-state="open" data-open="" style="">
        <div class="p-1.5 relative z-10 border-b border-transparent h-14 transition"><input
                class="peer rounded-xl border border-gray-200 dark:border-white/10 bg-background-light dark:bg-background-dark h-full w-full outline-none text-gray-950 dark:text-white placeholder:text-gray-400 placeholder:dark:text-white/50 tracking-tight pl-11 pr-14 focus:border-slate-950 dark:focus:border-white transition shadow-search"
                placeholder="Search..." autocomplete="off" id="search-input" role="combobox" aria-expanded="false"
                aria-autocomplete="list" data-headlessui-state="autofocus" data-autofocus="" type="text"
                aria-controls="headlessui-combobox-options-_r_1i_"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-search absolute left-5 top-1/2 -translate-y-1/2 text-gray-950 dark:text-white opacity-50 peer-focus:opacity-100 peer-disabled:opacity-30">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </svg>
            <div
                class="top-1/2 -translate-y-1/2 absolute right-6 flex items-center justify-center rounded-md gap-1 px-1.5 py-1.5 bg-gray-950/5 dark:bg-white/5 text-zinc-950/70 dark:text-white/70 font-medium text-xs leading-[9px]">
                ESC</div>
        </div>
        <div class="max-h-[calc(100vh-10rem)] overflow-y-auto mx-1.5" aria-labelledby="" role="listbox"
            id="headlessui-combobox-options-_r_1i_" data-headlessui-state=""
            style="--input-width: 594.699951171875px; --button-width: 0px;">
            <div class="last:mb-2" id="headlessui-combobox-option-_r_21_" role="option" tabindex="-1"
                aria-selected="false" data-headlessui-state="">
                <div class="cursor-pointer relative rounded-xl flex gap-3 px-2.5 py-2 items-center"><svg width="16"
                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="text-gray-500 dark:text-gray-400 h-4 w-4 shrink-0">
                        <path d="M3.33337 5.55542H13.5556" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M2.44446 10.4443H12.6667" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M6.78491 2.44434L4.70135 13.5554" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.2987 2.44434L9.21515 13.5554" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="flex flex-col flex-1 min-w-0 gap-1">
                        <div class="flex gap-1 items-center">
                            <div class="flex items-center min-w-0 flex-1">
                                <div class="flex items-center min-w-0 flex-shrink">
                                    <div
                                        class="[&amp;_mark]:bg-transparent [&amp;_mark_b]:font-medium [&amp;_mark_b]:text-md [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light text-xs text-gray-500 dark:text-gray-400 truncate">
                                        Advanced Configuration</div>
                                </div>
                                <div class="flex items-center min-w-0 flex-shrink"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
                                        fill="currentColor"
                                        class="mx-0.5 flex-shrink-0 size-3 text-gray-500 dark:text-gray-400">
                                        <path
                                            d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z">
                                        </path>
                                    </svg>
                                    <div
                                        class="[&amp;_mark]:bg-transparent [&amp;_mark_b]:font-medium [&amp;_mark_b]:text-md [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light text-xs text-gray-500 dark:text-gray-400 truncate">
                                        Azure OpenAI Configuration</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-1 items-center text-gray-800 dark:text-gray-200">
                            <div
                                class="truncate text-sm leading-[18px] text-gray-800 dark:text-gray-200 [&amp;_mark]:bg-transparent [&amp;_mark_b]:font-medium [&amp;_mark_b]:text-md [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light font-medium">
                                Azure OpenAI Configuration</div>
                        </div>
                        <p
                            class="text-xs truncate w-full text-gray-500 [&amp;_mark]:text-gray-500 [&amp;_mark]:bg-transparent [&amp;_mark_b]:font-normal [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_b_mark]:font-normal [&amp;_b_mark]:text-primary dark:[&amp;_b_mark]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light">
                            underlying model name Base URL <mark><b>Prio</b></mark>rity : Per-model baseURL settings
                        </p>
                    </div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-right text-transparent">
                        <path d="m9 18 6-6-6-6"></path>
                    </svg>
                </div>
            </div>
            <div class="last:mb-2" id="headlessui-combobox-option-_r_22_" role="option" tabindex="-1"
                aria-selected="false" data-headlessui-state="">
                <div class="cursor-pointer relative rounded-xl flex gap-3 px-2.5 py-2 items-center"><svg width="16"
                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="text-gray-500 dark:text-gray-400 h-4 w-4 shrink-0">
                        <path d="M3.33337 5.55542H13.5556" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M2.44446 10.4443H12.6667" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M6.78491 2.44434L4.70135 13.5554" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.2987 2.44434L9.21515 13.5554" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="flex flex-col flex-1 min-w-0 gap-1">
                        <div class="flex gap-1 items-center">
                            <div class="flex items-center min-w-0 flex-1">
                                <div class="flex items-center min-w-0 flex-shrink">
                                    <div
                                        class="[&amp;_mark]:bg-transparent [&amp;_mark_b]:font-medium [&amp;_mark_b]:text-md [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light text-xs text-gray-500 dark:text-gray-400 truncate">
                                        Task Structure</div>
                                </div>
                                <div class="flex items-center min-w-0 flex-shrink"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
                                        fill="currentColor"
                                        class="mx-0.5 flex-shrink-0 size-3 text-gray-500 dark:text-gray-400">
                                        <path
                                            d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z">
                                        </path>
                                    </svg>
                                    <div
                                        class="[&amp;_mark]:bg-transparent [&amp;_mark_b]:font-medium [&amp;_mark_b]:text-md [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light text-xs text-gray-500 dark:text-gray-400 truncate">
                                        Task Fields in tasks.json</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-1 items-center text-gray-800 dark:text-gray-200">
                            <div
                                class="truncate text-sm leading-[18px] text-gray-800 dark:text-gray-200 [&amp;_mark]:bg-transparent [&amp;_mark_b]:font-medium [&amp;_mark_b]:text-md [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light font-medium">
                                Task Fields in tasks.json</div>
                        </div>
                        <p
                            class="text-xs truncate w-full text-gray-500 [&amp;_mark]:text-gray-500 [&amp;_mark]:bg-transparent [&amp;_mark_b]:font-normal [&amp;_mark_b]:text-primary dark:[&amp;_mark_b]:text-primary-light [&amp;_b_mark]:font-normal [&amp;_b_mark]:text-primary dark:[&amp;_b_mark]:text-primary-light [&amp;_span.font-medium]:text-primary dark:[&amp;_span.font-medium]:text-primary-light">
                            ⏱️ Pending [1, 2] <mark><b>prio</b></mark>rity Task importance. "high" , "medium" </p>
                    </div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-right text-transparent">
                        <path d="m9 18 6-6-6-6"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>